* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #ecedf2;
    font: 14px / 1.5 "Microsoft YaHei", Tahoma, "simsun", sans-serif;
}

.ctn {
    width: 1140px;
    margin: auto;
}

/* opt-bar */
.bar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    line-height: 50px;
    margin-bottom: 30px;
}

.bar .title>div{
    font-size: 16px;
    color: #fff;
    background-color: #2C88E2;
    text-align: center;
    padding: 0px 15px 0px 15px;
}

.bar .option {
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}
.bar .option .option_row{
    margin-left: 30px;
    display: flex;
    column-gap: 30px;
    position: relative;
}

.bar .search .searchctn{
    border: 1px solid rgb(210, 210, 210);
    margin-top: 40px;
    margin-right: 50px;
}
.bar .search .searchctn input{
    border: none;
    background: none;
    height: 50px;
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    column-gap: 3px;
}

.grid .hero {
    text-align: center;
}

.grid .hero img {
    width: 83px;
    height: 83px;
    border: 2px solid #258DF2;
    border-radius: 10px 0 10px 0;
}